Lambda School Data Science

*Unit 2, Sprint 1, Module 4*

---

# Logistic Regression


## Assignment ðŸŒ¯

You'll use a [**dataset of 400+ burrito reviews**](https://srcole.github.io/100burritos/). How accurately can you predict whether a burrito is rated 'Great'?

> We have developed a 10-dimensional system for rating the burritos in San Diego. ... Generate models for what makes a burrito great and investigate correlations in its dimensions.

- [ ] Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.
- [ ] Begin with baselines for classification.
- [ ] Use scikit-learn for logistic regression.
- [ ] Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
- [ ] Get your model's test accuracy. (One time, at the end.)
- [ ] Commit your notebook to your fork of the GitHub repo.


## Stretch Goals

- [ ] Add your own stretch goal(s) !
- [ ] Make exploratory visualizations.
- [ ] Do one-hot encoding.
- [ ] Do [feature scaling](https://scikit-learn.org/stable/modules/preprocessing.html).
- [ ] Get and plot your coefficients.
- [ ] Try [scikit-learn pipelines](https://scikit-learn.org/stable/modules/compose.html).

In [28]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Linear-Models/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [29]:
# Load data downloaded from https://srcole.github.io/100burritos/
import pandas as pd
df = pd.read_csv(DATA_PATH+'burritos/burritos.csv')

In [30]:
df.sample(5)

                          Location            Burrito  ... Corn Zucchini
371  Roberto's Taco Shop Hillcrest       Golden State  ...  NaN      NaN
316                     Taco Villa         California  ...  NaN      NaN
26       Lola's 7 Up Market & Deli        Carne asada  ...  NaN      NaN
185                     Taco Stand        California   ...  NaN      NaN
309               Lupe's Taco Shop  Spicy a la Diabla  ...  NaN      NaN

[5 rows x 66 columns]

In [31]:
df.shape

(423, 66)

In [32]:
df['overall'].isna().sum()

2

In [33]:
df.isna().sum()

Location          0
Burrito           0
Date              0
Neighborhood    331
Address         335
               ...
Bacon           420
Sushi           421
Avocado         410
Corn            420
Zucchini        422
Length: 66, dtype: int64

In [34]:
# Derive binary classification target:
# We define a 'Great' burrito as having an
# overall rating of 4 or higher, on a 5 point scale.
# Drop unrated burritos.
df = df.dropna(subset=['overall'])
df['Great'] = df['overall'] >= 4

In [35]:
df.isna().sum()

Location          0
Burrito           0
Date              0
Neighborhood    329
Address         333
               ...
Sushi           419
Avocado         408
Corn            418
Zucchini        420
Great             0
Length: 67, dtype: int64

In [36]:
df.shape

(421, 67)

In [37]:
# Clean/combine the Burrito categories
df['Burrito'] = df['Burrito'].str.lower()

california = df['Burrito'].str.contains('california')
asada = df['Burrito'].str.contains('asada')
surf = df['Burrito'].str.contains('surf')
carnitas = df['Burrito'].str.contains('carnitas')

In [38]:
california

0       True
1       True
2      False
3      False
4       True
       ...
418    False
419    False
420     True
421    False
422    False
Name: Burrito, Length: 421, dtype: bool

In [39]:
df.loc[california, 'Burrito'] = 'California'
df.loc[asada, 'Burrito'] = 'Asada'
df.loc[surf, 'Burrito'] = 'Surf & Turf'
df.loc[carnitas, 'Burrito'] = 'Carnitas'
df.loc[~california & ~asada & ~surf & ~carnitas, 'Burrito'] = 'Other'

In [40]:
df.shape

(421, 67)

In [41]:
# Drop some high cardinality categoricals
df = df.drop(columns=['Notes', 'Location', 'Reviewer', 'Address', 'URL', 'Neighborhood'])

In [42]:
# Drop some columns to prevent "leakage"
df = df.drop(columns=['Rec', 'overall'])

In [43]:
df.shape

(421, 59)

In [44]:
#Do train/validate/test split. Train on reviews from 2016 & earlier. Validate on 2017. Test on 2018 & later.

In [45]:
df.columns

Index(['Burrito', 'Date', 'Yelp', 'Google', 'Chips', 'Cost', 'Hunger',
       'Mass (g)', 'Density (g/mL)', 'Length', 'Circum', 'Volume', 'Tortilla',
       'Temp', 'Meat', 'Fillings', 'Meat:filling', 'Uniformity', 'Salsa',
       'Synergy', 'Wrap', 'Unreliable', 'NonSD', 'Beef', 'Pico', 'Guac',
       'Cheese', 'Fries', 'Sour cream', 'Pork', 'Chicken', 'Shrimp', 'Fish',
       'Rice', 'Beans', 'Lettuce', 'Tomato', 'Bell peper', 'Carrots',
       'Cabbage', 'Sauce', 'Salsa.1', 'Cilantro', 'Onion', 'Taquito',
       'Pineapple', 'Ham', 'Chile relleno', 'Nopales', 'Lobster', 'Queso',
       'Egg', 'Mushroom', 'Bacon', 'Sushi', 'Avocado', 'Corn', 'Zucchini',
       'Great'],
      dtype='object')

In [46]:
df.sample(5)

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
387       Other   1/9/2018   4.5     3.8  ...     NaN   NaN       NaN  False
246  California  10/1/2016   4.0     4.0  ...     NaN   NaN       NaN   True
350  California  5/30/2017   NaN     NaN  ...     NaN   NaN       NaN  False
11        Other  2/11/2016   3.0     4.1  ...     NaN   NaN       NaN  False
337       Other   5/2/2017   3.0     3.8  ...     NaN   NaN       NaN  False

[5 rows x 59 columns]

In [47]:
df['Date']=pd.to_datetime(df['Date'])

In [48]:
df.sample(5)

        Burrito       Date  Yelp  Google  ... Avocado  Corn  Zucchini  Great
183       Other 2016-08-16   4.0     3.9  ...     NaN   NaN       NaN  False
214  California 2016-08-30   NaN     NaN  ...     NaN   NaN       NaN   True
276       Other 2016-11-06   4.0     4.4  ...     NaN   NaN       NaN  False
385  California 2017-12-29   NaN     NaN  ...     NaN   NaN       NaN   True
49        Other 2016-03-21   NaN     NaN  ...     NaN   NaN       NaN  False

[5 rows x 59 columns]

In [49]:
train = df[df['Date'].dt.year<=2016]

In [50]:
df.shape

(421, 59)

In [51]:
train.shape

(298, 59)

In [52]:
val = df[df['Date'].dt.year==2017]

In [53]:
test  = df[df['Date'].dt.year>=2018]

In [54]:
#Begin with baselines for classification.

In [56]:
target = 'Great'
y_train = train[target]

In [59]:
majority_class = y_train.mode()[0]
y_pred_base = [majority_class]*len(y_train)

In [60]:
y_pred_base

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [62]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train, y_pred_base)

0.5906040268456376

In [63]:
y_val = val[target]
y_pred_val_base = [majority_class] * len(y_val)
accuracy_score(y_val, y_pred_val_base)

0.5529411764705883

In [64]:
#Use scikit-learn for logistic regression

In [74]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(solver='lbfgs')

In [66]:
df.describe()

            Yelp     Google        Cost  ...     Synergy        Wrap  Queso
count  87.000000  87.000000  414.000000  ...  419.000000  418.000000    0.0
mean    3.887356   4.167816    7.067343  ...    3.586993    3.979904    NaN
std     0.475396   0.373698    1.506742  ...    0.886807    1.118185    NaN
min     2.500000   2.900000    2.990000  ...    1.000000    0.000000    NaN
25%     3.500000   4.000000    6.250000  ...    3.000000    3.500000    NaN
50%     4.000000   4.200000    6.990000  ...    3.800000    4.000000    NaN
75%     4.000000   4.400000    7.880000  ...    4.000000    5.000000    NaN
max     4.500000   5.000000   25.000000  ...    5.000000    5.000000    NaN

[8 rows x 19 columns]

In [67]:
df.isna().sum()

Burrito             0
Date                0
Yelp              334
Google            334
Chips             395
Cost                7
Hunger              3
Mass (g)          399
Density (g/mL)    399
Length            138
Circum            140
Volume            140
Tortilla            0
Temp               20
Meat               14
Fillings            3
Meat:filling        9
Uniformity          2
Salsa              25
Synergy             2
Wrap                3
Unreliable        388
NonSD             414
Beef              242
Pico              263
Guac              267
Cheese            262
Fries             294
Sour cream        329
Pork              370
Chicken           400
Shrimp            400
Fish              415
Rice              385
Beans             386
Lettuce           410
Tomato            414
Bell peper        414
Carrots           420
Cabbage           413
Sauce             383
Salsa.1           414
Cilantro          406
Onion             404
Taquito           417
Pineapple         414
Ham               419
Chile relleno     417
Nopales           417
Lobster           420
Queso             421
Egg               416
Mushroom          418
Bacon             418
Sushi             419
Avocado           408
Corn              418
Zucchini          420
Great               0
dtype: int64

In [69]:
df['Wrap'].sample(10)

246    2.5
58     4.5
185    5.0
163    5.0
332    5.0
154    4.5
152    3.0
75     3.5
60     4.0
319    3.5
Name: Wrap, dtype: float64

In [70]:
features = ['Hunger','Tortilla','Temp','Meat','Fillings','Meat:filling','Uniformity','Salsa','Synergy','Wrap']

In [71]:
X_train = train[features]
X_val = val[features]
X_test = test[features]

In [72]:
# Impute missing values
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_val_imputed = imputer.transform(X_val)
X_test_imputed = imputer.transform(X_test)

In [75]:
log_reg.fit(X_train_imputed, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [78]:
#Get your model's validation accuracy. (Multiple times if you try multiple iterations.)
print('Validation Accuracy', log_reg.score(X_val_imputed, y_val))

Validation Accuracy 0.8470588235294118

In [79]:
y_test = test[target]

In [80]:
#Get your model's test accuracy. (One time, at the end.)
print('Test Accuracy', log_reg.score(X_test_imputed, y_test))

Test Accuracy 0.7631578947368421

In [82]:
print('Train Accuracy', log_reg.score(X_train_imputed, y_train))

Train Accuracy 0.8859060402684564